.search_input {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    input {
        width: 200px;
        height: 40px;
        border-radius: 5px;
        padding: 0 10px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        transition: all 0.3s ease-in-out;

        &:focus {
            width: 400px;
        }
    }
}