#first_section {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    & p:first-of-type {
        font-size: 7rem;
        font-weight: bold;
        color: #fff;
        text-align: center;
        margin-bottom: 1.4rem;
        line-height: 1.2em;
    }

    & p:nth-of-type(2) {
        width: 580px;
        color: $secondary-color;
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.5em;
    }

    .get_started_btn {
        background-image: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
        background-size: 150% auto;
        transition: all 0.3s ease;
        padding: 20px 30px;
        border-radius: 10px;
        color: white;
        font-weight: 900;
        margin-top: 50px;

        &:hover {
            background-position: 100% 0;
        }
    }
}

#second_section {
    min-height: 600px;

    .cards_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        justify-items: center;
        grid-gap: 10px;

        .card {
            width: 360px;
            height: 350px;
            padding: 2rem 3rem;
            background-color: #1A1B23;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .cards_title {
                color: white;
                font-size: 30px;
                font-weight: bold;
            }

            .cards_text {
                color: $secondary-color;
                line-height: 1.2em;
                text-align: center;
            }

            .cards_button {
                color: #B982FF;
            }
        }
    }
}