.text_block {
    min-height: 100vh;

    &:first-of-type {
        min-height: calc(100vh - 80px);
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & p:first-of-type {
        font-size: 7rem;
        font-weight: bold;
        color: #fff;
        text-align: center;
        margin-bottom: 1.4rem;
        line-height: 1.2em;
    }

    & p:nth-of-type(2) {
        width: 580px;
        color: $secondary-color;
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.5em;
    }

    .get_started_btn {
        background-image: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
        background-size: 150% auto;
        transition: all 0.3s ease;
        padding: 20px 40px;
        border-radius: 10px;
        color: white;
        font-weight: 900;
        margin-top: 50px;

        &:hover {
            background-position: 100% 0;
        }
    }

    .crypto_caption:first-of-type {
        font-size: 4.5rem;
    }

    .button_link {
        color: $tertiary-color;
        margin-top: 30px;
        font-weight: 600;
    }
}

#cards_block {
    margin-top: 200px;
    margin-bottom: 400px;
    position: relative;

    .cards_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        justify-items: center;
        grid-gap: 10px;

        .card {
            width: 360px;
            height: 350px;
            padding: 2rem 3rem;
            background-color: $primary-color;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .cards_title {
                color: white;
                font-size: 30px;
                font-weight: bold;
            }

            .cards_text {
                color: $secondary-color;
                line-height: 1.2em;
                text-align: center;
            }

            .cards_button {
                color: $tertiary-color;
            }
        }
    }
}

.section_4 {
    margin-top: 100px;
    flex-direction: row;

    & p:first-of-type {
        font-size: 4rem;
        text-align: left;
    }

    & p:nth-of-type(2) {
        text-align: left;
    }

    .get_started_btn {
        background: transparent;
        border: 1px solid white;

        &:hover {
            background: white;
            color: $primary-color;
        }
    }

    .shield {
        position: relative;

        .shield_grad_circle {
            border-radius: 50%;
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(255, 79, 24, 0) 0%, #FF4117 100%);
            filter: blur(200px);
        }

        .shield_grad_rect {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(180deg, #82392C 0%, #D0A22C 100%);
            filter: blur(300px);
        }
    }
}

.section_5 {
    min-height: 100vh;

    table {
        margin-top: 50px;
        width: 100%;
        height: 400px;
        color: white;
        background-color: $primary-color;
        border-radius: 25px;
        border-collapse: collapse;
        border-spacing: 30px;

        tr {
            &:not(:last-of-type) {
                border-bottom: 1px solid #2B2C3B;
            }

            td {
                vertical-align: middle;
                font-weight: bold;
                font-size: 1.2rem;

                &.coin_name {
                    padding: 0 30px;
                }

                &.coin_symbol {
                    color: $tertiary-color;
                    padding-right: 30px;
                    text-align: center;
                }

                &.coin_price {
                    padding-left: 20px;
                    text-align: right;
                }

                &.coin_price_change_24h {
                    text-align: right;

                    &.coin_price_red {
                        color: #FF8282;
                    }

                    &.coin_price_green {
                        color: #0DBB7C;
                    }
                }

                &.coin_graph {
                    width: 0;
                    padding: 0 20px;
                    text-align: center;
                }

                &.coin_button {
                    width: 140px;
                    text-align: right;
                    padding-right: 30px;

                    a {
                        color: white;
                        font-size: 1rem;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}