@import '_resets';
@import '_variables';
@import '_header';
@import '_home';
@import '_footer';

html {
    scroll-behavior: smooth;
}

#root {
    background-color: #000;
    min-height: 100vh;
}

main {
    min-height: calc(100vh - 0px);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    font-family: $Open-Sans;
}