main {
    padding-top: 100px;

    .top_options {
        display: flex;
        justify-content: center;
    }

    .cars_gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        align-items: center;
        justify-items: center;
        margin: 0px 20px;
    }

    .showMore {
        display: flex;
        justify-content: center;

        .showMoreBtn {
            padding: 1em 1.5em;
            border-radius: 30px;
            font-size: 18px;
            background-color: #000;
            color: #fff;
            transition: 0.2s;

            &:hover {
                background-color: #444;
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-bottom: 10px;

    p {
        font-weight: bold;
        color: #fff;
    }
}