main {
    padding-top: 100px;

    .cars_gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        align-items: center;
        justify-items: center;
        margin: 0px 20px;
    }
}