main {
    padding-top: 100px;

    .cars_gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        align-items: center;
        justify-items: center;
        margin: 0px 20px;
    }

    .showMore {
        display: flex;
        justify-content: center;

        .showMoreBtn {
            padding: 1em;
            border-radius: 30px;
            font-size: 20px;
            background-color: #000;
            color: #fff;
            width: 170px;

            &:hover {
                background-color: #444;
            }
        }
    }

    .pagination {
        width: 500px;
        display: flex;
        justify-content: space-evenly;
        margin: 40px auto 20px;

        li {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 30px;
                color: white;
                font-weight: bold;

                &:hover {
                    border: 2px solid #F07427;
                }
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-bottom: 10px;

    p {
        font-weight: bold;
        color: #fff;
    }
}