@import '_variables';
@import '_resets';
@import '_header';
@import '_home';
@import '_footer';

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    background: #282C34FF;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

body {
    font-family: 'Zen Kurenaido', sans-serif;
    background-color: #282C34FF;
    transition: all 0.5s ease;
    user-select: none;
}